<div class="row">
    <div class="col-xs-12">
        <img src="" alt="" class="img-responsive">
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h1>Recipe Nome</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button class="btn btn-primary dropdown-toggle"> 
                Manage Recipe <a> <span class="caret"></span> </a>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#"> Adcionar Ingredientes a Loja</a></li>
                <li><a href="#"> Editar Receita</a></li>
                <li><a href="#"> Deletar Receita</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        Descroição
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        Ingredientes
    </div>
</div>