<div class="row">
    <div class="col-xs-12">
        <form>
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Nome</label>
                    <input type="text" class="form-control" id="name">
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Quantidade</label>
                    <input type="number" class="form-control" id="amount">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-success" >Add </button>
                    <button type="button" class="btn btn-danger"> Delete </button>
                    <button type="button" class="btn btn-primary"> Clear </button>
                </div>
            </div>
        </form>
    </div>
</div>